$white: #fff;
$black: #303030;
$grey: #aaa;
$light-grey: #ccc;
$blue: #20a6fc;
$green: #39d69c;

* {
  box-sizing: border-box;
}

.no-padding {
  padding: 0;
}

body {
  color: $black;
  font-family: 'Source Sans Pro';
  background: radial-gradient(circle, $white , lighten($grey, 20));
}

.container {
  max-width: 325px;
  background-color: $white;
  margin: 30px auto 0;
  max-height: 600px;
  overflow: hidden;
  box-shadow: 0 0 40px lighten($black, 50);
}

.header {
  
  i {
    vertical-align: top;
    padding: 1em 1em 0 0;
    width: 25%;
    text-align: right;
    font-size: 1.5em;
    color: $grey;
  }
  
  img {
    width: 45%;
    border-radius: 0 0 10px 10px;
  }
}

.about {
  margin-left: 25%;
  width: 45%;
  position: relative;
  
  h1 {
    font-size: 1.7em;
    font-weight: 400;
    margin: 0.6em 0 0 0;
  }
  
  span {
    font-size: 0.8em;
    color: $grey;
    line-height: 1;
    font-weight: 300;
    padding-right: 50%;
  }
}

.follow {
  position: absolute;
  top: 0;
  left: 110%;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 40px lighten($black, 65);
  cursor: pointer;
  
  span {
    font-size: 1.5em; 
  }
  
  h2 {
    font-size: 0.8em;
    font-weight: 300;
    margin: 0;
  }
}

ul {
  padding: 0;
  margin: 1.5em 0 0;
  
  li {
    padding: 15px 0 15px 25%;
    font-size: 0.8em;
    line-height: 1.8;
    border-top: 1px solid $light-grey;
    color: $black;
    font-weight: 300;

    p {
      margin: 0;
      padding-right: 2em;
      line-height: 1.2;
      font-size: 1em;
  
    }
  }
}

.half {
  display: inline-block;
  color: $grey;
  font-weight: 300;
  padding: 20px 0 20px 2em;
  
  &:first-child {
    padding-left: 25%;
    padding-right: 2em;
    border-right: 1px solid $light-grey;
  }
  
  span {
    font-weight: 400;
    font-size: 1.5em;
    display: block;
    line-height: 0.7;
    color: $black;
  }
}

.gallery {
  
}

.photo {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-right: 5px;
  border-radius: 10px;
  overflow: hidden;
  
  img {
    width: 100%;
  }
  
  &.more {
    background-color: $blue;
    color: $white;
    box-shadow: 0 0 30px lighten($black, 50);
    padding: 2em 1em ;
    font-weight: 300;
    
    span {
      display: block;
      font-size: 1.5em;
      font-weight: 400;
      line-height: 0.6;
    }
  }
}

.meta {
  color: $grey;
  line-height: 0.7;
  margin-bottom: 10px;
}

.dot {
  position: relative;
}

.dot::after {
  content: ' ';
  background-color:green;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  left: 15%;
  top: 20px;
}